{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    {% if validlink %}
    <form method="post" class="accountform">
        <fieldset class="form-group-lg col-6 mx-auto">
            <legend class="card-header form-header">New Password</legend>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.new_password1.errors }}
            {{ form | as_bootstrap }} 
            <button type="submit" class="book-button col-12 account-page-button">Update Password</button>
        </fieldset>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}