{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<form method="post" class="accountform">
        <fieldset class="form-group col-6 mx-auto">
            <legend class="card-header form-header">Password Reset</legend>
            <br>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <label class="display-4 text-muted text-center">Please enter the email address associated with your account</label>
            {{ form | as_bootstrap }} 
            <button type="submit" class="book-button col-12 account-page-button">Confirm E-mail</button>
        </fieldset>

{% endblock %}
