{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {% block head_js %}
    {% endblock head_js %}
    
    <title>C & K Physiotherapy</title>
    <link rel="icon" href="https://img.icons8.com/office/16/000000/squats.png">

</head>
<body>
    <!-- Fixed Navbar -->
     <nav class="navbar navbar-light navbar-expand-md fixed-top">
    <div class="container dropdown-padding">
        <a class="navbar-brand" href="{% url 'index' %}"></a>
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'profile' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'profile' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'profile' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link book-button text-center col-10" href="{% url 'profile' %}">Book Appointment</a>
                </li> 
            </ul>
        </div>
        
      <ul class="navbar-nav ml-auto">
        <li class="social-icons">
          <a class="social-icon d-none d-lg-block" href="https://www.facebook.com/TheJonesMusic/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="social-icons">
          <a class="social-icon d-none d-lg-block" href="https://www.snapchat.com/l/en-gb/"  target="_blank"><i class="fab fa-snapchat-square"></i></a>
        </li>
        <li class="social-icons">
          <a class="social-icon d-none d-lg-block" href="https://www.youtube.com/channel/UCQ13In3Mv5xRHKAYHWxePRA"  target="_blank"><i class="fab fa-youtube-square"></i></a>
        </li>
        <li class="social-icons">
          <a class="social-icon d-none d-lg-block" href="https://twitter.com/?lang=en"  target="_blank"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
    </div>
  </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% block content %} {% endblock %}
    
    <footer>
        <div class="container">
            <a href="https://icons8.com/icon/36954/squats">Squats icon by Icons8</a>
        </div>
    </footer>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>